body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #7c96d061;
}

#translations {
    display: block;
    z-index: 1;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

#calculator {
    display: none;
    z-index: 1;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#title {
    height: 55px;
    background-color: #00ccc2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: white;
    font-family:  'Helvetica Neue', sans-serif;
    letter-spacing: -1px;
    line-height: 1;
    border: 2px solid #fff;
}

#title > p {
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
}

#titleMask{
    position: relative;
    transform: rotate(-18deg) translateX(-60px) translateY(-108px);
    width: 600px;
    height: 100px;
    background-color: #00ccc2;
}

.main {
    transform: translateY(37px);
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0 0 10px 10px;
}

#header {
    margin-top: 0px;
    background-color: #00ccc2;
    height: 60px;
    overflow: hidden;
}

#navbar {
    background-image: linear-gradient(to bottom,#00ccc2 0,#009e97 100%);
    position: absolute;
    display: block;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.navbarItem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    border: 2px solid #fff;
}

.navbarItem > p {
    transition: all 1s ease;
    text-transform: uppercase;
    font-weight: bold;
    list-style: none;
    display: inline;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    color: white; 
    font-family: arial; 
    margin: 0 0 72px;
    transition: all 1s ease;
    z-index: 1;
}

.navbarItem:not(#bckgrndCheck)::before{
    transform: rotate(7deg);
    content: "";
    background-color: #fff;
    position: absolute;
    transition: all 0.5s ease;
}


.navbarItem:not(#bckgrndCheck):hover p{
    color: #00bfb6;
}

.btn-4 {
    border-radius: 0 0 0 0 ;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    height: 30px;
    padding: 1px 5px 1px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-4 > p {
    z-index: 20;
}

.btn-4::after {
    background: #121212;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-4:hover::after {
    left: 122%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    border-bottom: 2px solid #121212;
    outline: none;
    transition: all .2s ease;
}

input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #00ccc2;  
}

#test {
    margin: 8px 8px 8px 8px;
}

input.disabled {
    border-bottom: 2 px solid #4a8481;
    background-color: #4a84817a;
}

#keepBubbles {
    position: relative;
    color: #363839;
    height: 1rem;
    width: 1rem;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

#keepBubbles::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 5px;
    width: 5.33px;
    height: 9.33px;
    display: block;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

#keepBubbles:checked {
    color: #fff;
    border-color: #009e97;
    background: #009e97;
}

#keepBubbles:checked::before {
    opacity: 1;
}

@media (min-width:1281px){ /* 1080p+ monitors */
    .navbarItem {
        width: 11%;
    }

    #title {
        width: 25%;
        font-size: 50px;
    }

    .navbarItem:not(#bckgrndCheck)::before{
        width: 120%;
        height: 250%;
    }
    
    .btn1::before{
        left: 180px;
        top: -20px;
    }
    
    .btn2::before {
        left: -220px;
        top: -20px;
    }
    
    .btn1:hover::before{
        left: -2px;
    }
    
    .btn2:hover::before {
        left: -2px;
    }
}

@media (max-width:1280px) and (min-width:1024px) { /* strange resolutions monitors */
    .navbarItem:not(#bckgrndCheck)::before{
        width: 200%;
        height: 290%;
    }

    #title {
        width: 50%;
        font-size: 50px;
    }
    
    .btn1::before{
        left: 350px;
        top: 0px;
    }
    
    .btn2::before {
        left: -750px;
        top: -90px;
    }
    
    .btn1:hover::before{
        left: -2px;
        top: 0px;
    }
    
    .btn2:hover::before {
        left: -2px;
        top: 0px;
    }
}

@media (max-width:1023px) { /* phones */
    .navbarItem:not(#bckgrndCheck):hover p{
        color: #fff;
    }

    #title {
        height: 100%;
        width: 100%;
        font-size: 9vw;
        border-bottom: none;
    }

    #titleMask {
        display: none;
    }

    #header {
        height: 36px;
    }

    #navbar {
        margin-top: 0px;
    }
    #bckgrndCheck, #particles-js {
        display: none;
    }

    .main {
        margin-top: 3px;
        width: 90%;
    }

    input {
        width: 49%;
        left: 0px;
    }

    input.disabled {
        margin-left: 5px;
        width: 40%;
    }

    .verified {
        margin-bottom: 0px;
        margin-left: 0px !important;
        display: block;
    }
}